* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.box {
  height: 80px;
  width: 100%;
  background-color:	#f1f3f4;
  position: sticky;
  top: 0px;
}
.memu {
  height: 100%;
}
.banner {
  height: 730px;
  background-color:#f1f3f4;
}
.banner1 h1 {
  padding-top: 220px;
  font-size: 55px;
}
